# Assignment1

## problem statement 3
CSV Data Import to a Database: Write a Python script that reads data from a CSV file containing user information (e.g., name, email) and inserts it into a SQLite database.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sample.csv")

In [3]:
df

       name                email
0     Alice    alice@example.com
1       Bob      bob@example.com
2   Charlie  charlie@example.com
3     David    david@example.com
4       Eve      eve@example.com
5     Frank    frank@example.com
6     Grace    grace@example.com
7     Heidi    heidi@example.com
8      Ivan     ivan@example.com
9      Judy     judy@example.com
10    Kevin    kevin@example.com
11    Linda    linda@example.com
12     Mike     mike@example.com
13    Nancy    nancy@example.com
14    Oscar    oscar@example.com
15      Pam      pam@example.com
16    Quinn    quinn@example.com
17    Randy    randy@example.com
18    Sarah    sarah@example.com
19      Tom      tom@example.com
20      Uma      uma@example.com
21    Vicky    vicky@example.com

### Adding csv into database

In [6]:
import sqlite3
import pandas as pd

db_name = 'user_data.db'
table_name = 'users'
csv_file = 'sample.csv'

conn = sqlite3.connect(db_name)
cursor = conn.cursor()

cursor.execute(f'''
    CREATE TABLE IF NOT EXISTS {table_name} (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        email TEXT NOT NULL UNIQUE
    );
''')
conn.commit()

df = pd.read_csv(csv_file)
# Changed if_exists='append' to if_exists='replace' to avoid UNIQUE constraint errors on re-runs
df.to_sql(table_name, conn, if_exists='replace', index=False)

print("Data imported and verified:")
query_df = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)
print(query_df)

conn.close()

Data imported and verified:
       name                email
0     Alice    alice@example.com
1       Bob      bob@example.com
2   Charlie  charlie@example.com
3     David    david@example.com
4       Eve      eve@example.com
5     Frank    frank@example.com
6     Grace    grace@example.com
7     Heidi    heidi@example.com
8      Ivan     ivan@example.com
9      Judy     judy@example.com
10    Kevin    kevin@example.com
11    Linda    linda@example.com
12     Mike     mike@example.com
13    Nancy    nancy@example.com
14    Oscar    oscar@example.com
15      Pam      pam@example.com
16    Quinn    quinn@example.com
17    Randy    randy@example.com
18    Sarah    sarah@example.com
19      Tom      tom@example.com
20      Uma      uma@example.com
21    Vicky    vicky@example.com